server:
  port: 9000

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import:
      - application-qa.yml
  profiles:
    active: qa

cards:
  message: "Welcome to Cards Service"
  contactDetails:
    name: "Madhav Deshmukh"
    email: "0o3QH@example.com"
  onCallSupport:
    - (020) 123457
    - (020) 123457
